body {
    background-color: #E9D3C0 !important;
}
.logged-in h1 {
    color: #8b3103;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.logged-in footer {
    background-color: #eee9e0;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border-top: 3px solid #8b3103;
}
.logged-in header {
    background-color: #eee9e0;
    border-bottom: 3px solid #8b3103;    
}
.logged-in img {
    border: 3px solid #8b3103;
    border-radius: 10px;
}
.logged-in h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.logged-in h3 {
    font-family: Arial, Helvetica, sans-serif;
}
.logged-in h4 {
    font-family: Arial, Helvetica, sans-serif;
}
.logged-in a:hover {
    color: #009d94; /* Darker blue on hover */
}