body {
    background-color: #E9D3C0 !important;
}
.logged-in h1 {
    color: #8b3103;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.logged-in footer {
    background-color: #eee9e0;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border-top: 3px solid #8b3103;
}
.logged-in header {
    background-color: #eee9e0;
    border-bottom: 3px solid #8b3103;    
}
.logged-in img {
    border: 3px solid #8b3103;
    border-radius: 10px;
}
.logged-in h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.logged-in h3 {
    font-family: Arial, Helvetica, sans-serif;
}
.logged-in h4 {
    font-family: Arial, Helvetica, sans-serif;
}
.logged-in a:hover {
    color: #009d94; 
}
.logged-in ul li:hover {
    background-color: #cbf1f5; 
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.logged-in blockquote {
    border-left: 5px solid #8b3103; 
    font-style: italic;
    color: #8b3103;
    background-color: #f9f9f9; 
    margin: 20px 0;
}

